@{
    ViewData["Title"] = "Home Page";
}
<div class="container mt-5">
<form id="wordForm" class="form-inline">
    <div class="form-group mb-2">
        <input type="text" class="form-control" id="word" name="word" pattern="[A-Za-z]+" required placeholder="Enter a word">
    </div>
    <button type="submit" class="btn btn-primary mb-2 ml-2">Submit</button>
</form>
</div>
<div id="displayScore" class="mt-4"></div>
<div id="displayApiData" class="mt-4"></div>
